/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------*/

/*--------------nav---------------------*/
body {
	font-family: 'Raleway', sans-serif;
	background-color: #eceef1;
}
a {
	text-decoration-line: none;
	color: #0077c5;
}
a:hover {
	text-decoration-line: underline;
}
button {
	background-color: #0077c5;
	color: white;
	padding: 5px 20px;
	font-size: 14px;
	border: 1px solid black;
	border-radius: 4px;
	margin-right: 15px;
	margin-left: 7px;
}
.material-icons-outlined {
	color: white;
	border: none;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 5px;
	margin-top: 0;
	font-size: 20px;
}
nav {
	padding: 10px;
}
#top-nav {
	text-align: right;
	height: fit-content;
}

.nav-text {
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
}
.nav-text p {
	margin-bottom: 2px;
	color: #8d9096;
}

/*------------------------logo header------------*/
header {
	width: 700px;
	margin: auto;
}

#logo-name-container {
	width: 115px;
	margin: auto;
}

#logo-name {
	width: 100%;
	height: 50px;
	object-fit: none;
	object-position: top left;
}

#icons-list li {
	display: inline-block;
	margin: 5px;
}
#icons-list a {
	color: #8d9096;
	font-size: 20px;
	font-weight: 600;
}

#icons-list a:hover {
	text-decoration: none;
}

#icons-list {
	width: 350px;
	margin: auto;
	text-align: center;
}

.brand-icon {
	width: 20px;
	border: none;
	border-radius: 50%;
	vertical-align: text-top;
}

/*----------------------FORM---------------------*/
#form-div {
	width: 300px;
	height: 700px;
	margin: auto;
	margin-top: 15px;
	background-color: white;
	border: 1px solid #8d9096;
	padding: 35px;
	padding-top: 20px;
}
#form-header {
	text-align: center;
	width: 290px;
	font-size: 14px;
	color: #393a3d;
}
h2 {
	font-size: 24px;
	margin: 20px 0;
	font-weight: 100px;
}
#form-header p {
	margin: 5px;
	color: #8d9096;
}

label {
	display: block;
	margin: 40px 0;
	font-size: 14px;
}
input {
	display: block;
	margin: 10px 0;
	width: 100%;
	height: 28px;
	border: 1px solid #c1c5c8;
	border-radius: 3px;
}

input:focus {
	outline: none;
	border: 1px solid #0076c593;
	box-shadow: 0 0 5px 1px #0076c593;
}

.info {
	font-size: 13px;
	color: #8d9096;
}

button[type='submit'] {
	width: 100%;
	height: 45px;
	margin: auto;
}

#terms {
	margin: 30px 0;
	font-style: italic;
	font-size: 12px;
	line-height: 1.5;
}

/*-------------------footer--------------------*/

#bottom-nav {
	width: 800px;
	margin: auto;
	text-align: center;
}

#bottom-nav li {
	display: inline-block;
	font-size: 11px;
	margin: 20px 10px;
}
#bottom-nav a {
	color: #393a3d;
}

#bottom-nav p {
	font-size: 12px;
}
